:root {
    --primary-light: #a4e8ff;
    --primary-color: #52a0ff;
    --primary-dark: #425adf;
    --background-black: #020a13;
    --background-blue: #061c38;
    --text-dark: #1f1f1f;
    --text-yellow: #ffdd00;
    --text-light: #f5f5f5;
    --filter-black: rgba(15, 15, 15, 0.3);
}
