{% extends 'base.html' %}

{% block title %}Henrique F. Moreira{% endblock %}


{% block main %}
<main class="container">
    <article class="content-box">
        <h1>SOBRE MIM</h1>
        <p>Olá! Meu nome é <strong>Henrique Ferreira Moreira</strong>. Sou um desenvolvedor curioso que começou pelo minecraft em 2020, mas que hoje já desenvolveu <strong>websites completos</strong> por conta própria, sistemas complexos para o <strong>console de Python/C#</strong> e alguns outros projetos envolvendo jogos e bots do discord. Hoje foco em minha carreira como <strong>desenvolvedor Backend</strong> com o framework <strong>Django</strong>, mas já sou capaz de desenvolver sites completos graças ao meu ensino <strong>técnico de informática</strong> e com a ajuda de agentes de IA avançados para agilizar processos e desenvolver designs mais complexos (ainda mantendo a organização, claro).</p>
        <p>Apesar de não ser o meu foco, tenho considerável conhecimento relacionado a design e HTML/CSS, o suficiente para desenvolver sites sozinho com a ajuda de LLMs enquanto ainda mantenho a compreensão de cada parte do projeto.</p>
        <p>Compartilho cada uma de minhas descobertas e experimentos através de redes sociais como LinkedIn e GitHub, mas você também pode conversar comigo por mensagens no WhatsApp ou através do meu e-mail profissional: <strong>henriquefmoreira2@gmail.com</strong>.</p>
        <p>Sou muito curioso e me adapto rapidamente aos desafios que surgem no meio do caminho! :)</p>
        <div class="button-group">
            <a href="#experience" class="btn">Experiência</a>
            <a href="#projects" class="btn">Projetos</a>
            <a href="#overview" class="btn">Visão Geral</a>
        </div>
    </article>
    <article class="content-box" id="experience">
        <h1>EXPERIÊNCIA</h1>
        <ul class="custom-list">
            <li>Lorem ipsum dolor</li>
            <li>Lorem sit amet consectetur</li>
            <li>Lorem adipisicing elit</li>
        </ul>
    </article>
    <article class="content-box" id="projects">
        <h1>PROJETOS</h1>
        <section class="project-card img-right">
            <div class="project-text">
                <h2>Projeto Banana Chips</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum architecto magnam ipsum error sunt illo!</p>
                <a href="" class="btn">Ver Mais</a>
            </div>
            <img src="https://via.placeholder.com/300" alt="Banana Chips" class="project-img">
        </section>
        <section class="project-card img-right">
            <div class="project-text">
                <h2>Projeto Coelho da Pascoa</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum architecto magnam ipsum error sunt illo!</p>
                <a href="" class="btn">Ver Mais</a>
            </div>
            <img src="https://via.placeholder.com/300" alt="Coelho da Pascoa" class="project-img">
        </section>
    </article>

    <article class="content-box" id="overview">
        <h1>VISÃO GERAL</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, voluptate laboriosam corporis.</p>
        <ul class="custom-list">
            <li>Lorem ipsum dolor</li>
            <li>Lorem sit amet consectetur</li>
        </ul>
        <img src="https://via.placeholder.com/600x200" alt="Overview" class="full-img">
    </article>
</main>
{% endblock %}