{% extends 'base.html' %}

{% block title %}Henrique F. Moreira{% endblock %}


{% block main %}
<main class="container">
    <article class="content-box">
        <h1>SOBRE MIM</h1>
        <p>Olá! Meu nome é <strong>Henrique Ferreira Moreira</strong> e tenho 18 anos. Sou um desenvolvedor curioso que começou pelo minecraft em 2020, mas que hoje já desenvolveu <strong>websites completos</strong> por conta própria, sistemas complexos para o <strong>console de Python/C#</strong> e alguns outros projetos envolvendo jogos e bots do discord. Hoje foco em minha carreira como <strong>desenvolvedor Backend</strong> com o framework <strong>Django</strong>, mas já sou capaz de desenvolver sites completos graças ao meu ensino <strong>técnico de informática</strong> e com a ajuda de agentes de IA avançados para agilizar processos e desenvolver designs mais complexos (ainda mantendo a organização, claro).</p>
        <p>Apesar de não ser o meu foco, tenho considerável conhecimento relacionado a design e HTML/CSS, o suficiente para desenvolver sites sozinho com a ajuda de LLMs enquanto ainda mantenho a compreensão de cada parte do projeto.</p>
        <p>Compartilho cada uma de minhas descobertas e experimentos através de redes sociais como LinkedIn e GitHub, mas você também pode conversar comigo por mensagens no WhatsApp ou através do meu e-mail profissional: <strong>henriquefmoreira2@gmail.com</strong>.</p>
        <p>Sou muito curioso e me adapto rapidamente aos desafios que surgem no meio do caminho! :)</p>
        <div class="button-group">
            <a href="#experience" class="btn">Experiência</a>
            <a href="#projects" class="btn">Projetos</a>
            <a href="#overview" class="btn">Visão Geral</a>
        </div>
    </article>
    <article class="content-box" id="experience">
        <h1>EXPERIÊNCIA</h1>
        <ul class="custom-list">
            <li>Formado Técnico de Informática na Oswaldo Cruz.</li>
            <li>Cursando Análise e Desenvolvimento de Sistemas na Uninove.</li>
            <li>Diversos projetos que podem ser analizados na sessão abaixo.</li>
        </ul>
    </article>
    <article class="content-box" id="projects">
        <h1>PROJETOS</h1>
        <section class="project-card img-right">
            <div class="project-text">
                <h2>Projeto Consultation Station</h2>
                <p>Site de agendamento de consultas. Baseado no sistema CRUD e possui sistemas como perfil personalizável, sistema de autenticação completo, visualização de consultas, etc.</p>
                <a href="" class="btn">Ver Mais</a>
            </div>
            <img src="https://via.placeholder.com/300" alt="Banana Chips" class="project-img">
        </section>
        <section class="project-card img-right">
            <div class="project-text">
                <h2>Projeto Crazy Chess</h2>
                <p>Projeto Python que te permite jogar partidas completas de xadrez no console. Apesar do design arcáico, demonstra minha capacidade para solucionar problemas lógicos complexos.</p>
                <a href="" class="btn">Ver Mais</a>
            </div>
            <img src="https://via.placeholder.com/300" alt="Coelho da Pascoa" class="project-img">
        </section>
    </article>
    <article class="content-box" id="overview">
        <h1>VISÃO GERAL</h1>
        <p>Sou um desenvolvedor entusiasmado <strong>capaz de desenvolver sites completos</strong>, apesar do foco em Backend. Sou Formado em <strong>Técnico de Informática</strong> na Oswaldo Cruz e sigo cursando <strong>Analise e Desenvolvimento de Sistemas</strong> na Uninove. Já desenvolvi <strong>diversos projetos</strong> que podem ser acessados na sessão acima ou no meu perfil do GitHub. Adoro aprender coisas novas e me envolvo profundamente em tudo que estou aprendendo. :P</p>
        <img src="https://via.placeholder.com/600x200" alt="Overview" class="full-img">
    </article>
</main>
{% endblock %}