{% extends 'base.html' %}

{% block title %}Henrique F. Moreira{% endblock %}


{% block main %}
<article>
    <h1>Sobre Mim</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam delectus ut sunt reprehenderit officiis laborum dicta recusandae incidunt, optio rem! Culpa at, illo quas porro officia ea saepe qui aspernatur.</p>
    <a href="">Experiência</a>
    <a href="">Projetos</a>
    <a href="">Visão Geral</a>
</article>
<article>
    <h1>Experiência</h1>
    <ul>
        <li>Lorem ipsum dolor</li>
        <li>Lorem sit amet consectetur</li>
        <li>Lorem adipisicing elit</li>
    </ul>
</article>
<article>
    <h1>Projetos</h1>
    <section>
        <h2>Projeto Banana Chips</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum architecto magnam ipsum error sunt illo!</p>
        <a href="">Ver Mais</a>
        <img src="" alt="">
    </section>
    <section>
        <h2>Projeto Coelho da Pascoa</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum architecto magnam ipsum error sunt illo!</p>
        <a href="">Ver Mais</a>
    </section>
</article>
<article>
    <h1>Visão Geral</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, voluptate laboriosam corporis, dolorum, placeat eaque cumque adipisci laborum dolores deleniti sint temporibus suscipit rem. Illum dolorem earum dolorum quas maxime?</p>
    <ul>
        <li>Lorem ipsum dolor</li>
        <li>Lorem sit amet consectetur</li>
        <li>Lorem adipisicing elit</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ab pariatur excepturi consequuntur distinctio deserunt maiores quas nemo harum adipisci tempore et amet ipsam totam consequatur provident libero, eum corrupti!</p>
    <ul>
        <li>Lorem ipsum dolor</li>
        <li>Lorem sit amet consectetur</li>
        <li>Lorem adipisicing elit</li>
    </ul>
    <img src="" alt="">
</article>
{% endblock %}